$black:black;
$white:rgb(252, 252, 252);
@mixin centerChild{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,li,label{
    text-transform: uppercase;
    font-family: 'Inter';
}
p{
    font-family: 'Merriweather';
    font-weight: 300;
}
button{
    text-transform: uppercase;
    font-family: 'Inter';
    letter-spacing: 2px;
    font-size: 0.9rem;
    padding: 10px 30px;
    background: $white;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
body{
    background: url(/assets/img/bg.png) fixed center/cover  rgba(0, 0, 0, 0.212);
    background-blend-mode: darken;
    min-height: 100vh;
    width: 100%;
    cursor: default;
}
.main{
    position: relative;
    height: 100vh;
    @include centerChild();
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        color: $white;
        background: #24232375;
        height: 50px;
        border-radius: 5px;
        .navigation{
            @include centerChild();
            flex-direction: row;
            font-size: 0.8rem;
            li{
                @include centerChild();
                cursor: pointer;
                border-radius: 1px;
                height: 50px;
                padding: 0 15px;
                &:first-child{
                    background: #ffffff;
                    color: $black
                }
                &:hover{
                    background: #ffffff;
                    color: $black
                }
                @media  screen and (max-width:750px) {
                    text-align: center;
                }
                @media  screen and (max-width:524px) {
                    font-size: 0.75rem;
                }
            }
            
        }
        .logo{
            @include centerChild();
            flex-direction: row;
            gap: 40px;
            margin-right: 20px;
            li{
                font-size: 1.2rem;
                transition: 0.25s ease-in-out;
                &:hover{
                    transform: scale(1.15);
                }
            }
            @media  screen and (max-width:750px) {
                display: none;
            }
        }
    }
    header{
        @include centerChild();
        h1{
            color: $white;
            font-size: 4rem;
            text-align: center;
            width: 55%;
            margin: 0 auto;
            letter-spacing: 5px;
            text-shadow: 0 0 1px $black;
            @media  screen and (max-width:1000px) {
                font-size: 3rem;
                width: 80%;
            }
            @media  screen and (max-width:750px) {
                font-size: 2.5rem;
                width: 80%;
            }
            @media  screen and (max-width:524px) {
                font-size: 1.8rem;
                width: 80%;
            }
        }
        p{
            color: $white;
            margin: 20px 0 40px;
            text-shadow: 0 0 1px $black;
            @media  screen and (max-width:1000px) {
                text-align: center;
                width: 90%;
            }
        }
        i{
            font-size: 3rem;
            @media  screen and (max-width:750px) {
                font-size: 2.5rem;
            }
        }
    }
}
.section1{
    width: 70%;
    background: #ffffff;
    margin: 0 auto;
    padding: 100px 0;
    @include centerChild();
    .section-text{
        width: 70%;
        @include centerChild();
        gap: 50px;
        text-align: center;
        .date{
            p {
                position: relative;
                padding: 0 10px;
                @media  screen and (max-width:1000px) {
                    font-size: 0.7rem;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 70%;
                    height: 1px;
                    background: $black;
                    left: -70%;
                    top: 50%;
                    @media  screen and (max-width:1000px) {
                        background: #0000005d;
                        width: 40%;
                        left: -40%;
                    }
                }   
                &::after{
                    content: "";
                    position: absolute;
                    width: 70%;
                    height: 1px;
                    background: $black;
                    right: -70%;
                    top: 50%;
                    @media screen and (max-width:1000px){
                        background:#0000005d;
                        width: 40%;
                        right: -40%;
                    }
                }   
            }
        }
        .description{
            width: 70%;
            h2{
                font-size: 2.5rem;
                @media  screen and (max-width:1000px) {
                   font-size: 2.3rem;
                }
            }
            p{
                font-size: 0.75rem;
                line-height: 30px;
                margin: 20px 0;
            }
        }
    }
    .photo{
        width: 70%;
        @include centerChild();
        gap: 50px;
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}
.section2{
    width: 70%;
    background: #ffffff;
    margin: 0 auto;
    @include centerChild();
    flex-direction: row;
    @media  screen and (max-width:1000px) {
        flex-direction: column;
    }
    .left-part{
        @include centerChild();
        padding: 60px 40px 50px;
        border-right: 1px solid;
        border-top: 1px solid
    }
    .right-part{
        @include centerChild();
        padding: 60px 40px 50px;
        border-top: 1px solid
    }
    .title-date{
        text-align: center;
        h3{
            width: 60%;
            margin: 20px auto;
        }
    }
    .photo-description{
        img{
            display:block;
            margin: 0 auto;
            border-radius: 3px;
            width: 100%;
        }
        p{
            line-height: 30px;
            margin: 15px 0;
            font-size: 0.8rem;
        }
    }
}

footer{
    background: $white;
    width: 70%;
    margin: 30px auto 80px;
    display: flex;
    @media  screen and (max-width:1000px) {
        flex-direction: column;
    }
    .left-footer{
        width: 50%;
        @media  screen and (max-width:1000px) {
            width: 100%;
        }
        .left{
            @include centerChild();
            align-items: start;
            gap: 20px;
            padding: 40px;
            .contact{
                @include centerChild();
                align-items: start;
                width: 100%;
                @media  screen and (max-width:1000px) {
                    align-items: center;
                }
                label{
                    width: 100%;
                    text-align: left;
                    font-size: 0.7rem;
                    letter-spacing: 2px;
                }
                input{
                    width: 95%;
                    height: 40px;
                    margin-top: 10px;
                    outline: none;
                    padding: 5px;
                    border: 1px solid;
                    border-radius: 3px;
                    font-size: 1.2rem;
                }
                #message{
                    height: 150px;
                    width: 95%;
                    outline: none;
                    padding: 5px;
                    font-size: 1.2rem;
                    margin-top: 10px;
                    border: 1px solid;
                    border-radius: 3px;
                }
            }
        }
    }
    .right-footer{
        @include centerChild();
        width: 50%;
        @media  screen and (max-width:1000px) {
            width: 100%;
            height: 50vh;
            min-height: 50vh;
        }
        .infos-container{
            @include centerChild();
            flex-direction: row;
            height: 25%;
            width: 100%;
            border-left: 1px solid rgba(0, 0, 0, 0.24);
            border-bottom: 1px solid rgba(0, 0, 0, 0.24);
            @media  screen and (max-width:1000px) {
                height: 100%;
            }
            .title{
                @include centerChild();
                width: 15%;
                padding: 0 70px 0 20px;
                @media screen and (max-width:1000px){
                    padding: 0 50px 0 20px;
                }
                h5{
                    font-size: 0.78rem;
                    letter-spacing: 1px
                }
            }
            .info{
                @include centerChild();
                align-items: start;
                width: 85%;
                p{
                    width: 87%;
                    font-size: 0.8rem;
                }
            }
            #infos-logo{
                ul{
                    @include centerChild();
                    flex-direction: row;
                    margin-left: 20px;
                    gap: 15px;
                    @media screen and (max-width:1110px) {
                      margin-left: 0;      
                    }
                    li{
                        background: #ffffff;
                        text-align: center;
                        border-radius: 50%;
                        width: 20px;
                        padding: 10px;
                        box-shadow: 0 0 2px black;
                        transition: 0.25s ease-in-out;
                        &:hover{
                            transform: scale(1.1);
                        }
                        @media screen and (max-width:550px) {
                            width: 15px;
                            height: 15px;
                            display: flex;
                            align-items: center;  
                            justify-content: center;   
                        }
                    }
                }
            }
        }
    }
}
